<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">My App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('blog.home') }}">Home</a></li>
                {% if current_user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('user.my_posts') }}">My Posts</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('user.get_users') }}">Users</a></li>
                <li class="nav-item"><a class="nav-link btn btn-danger text-black" href="{{ url_for('user.sign_out') }}">Sign Out</a></li>
                {% endif %}
                {% if request.path != '/login' and current_user.is_anonymous  %}
                <li class="nav-item"><a class="nav-link text-black" href="{{ url_for('user.login') }}">Login</a></li>
                <li class="nav-item"><a class="nav-link text-black" href="{{ url_for('user.signup') }}">Sign Up</a></li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>