{% extends 'components/base.html' %}

{% block title %}
Post Create
{% endblock %}

{% block content %}
  {{ super() }}

  <h1 style="text-align: center">Create a New Post</h1>

  <div class="post-create">
    <form method="post" action="{{ url_for('blog.create_post', user_id=user_id) }}" enctype="multipart/form-data">
    {% from 'macros/_formhelpers.html' import render_field %}
    {{ form.csrf_token }}

    <div class="mb-3">
      {{ render_field(form.title) }}
    </div>

    <div class="mb-3">
      {{ render_field(form.description) }}

    </div>

    <div class="mb-3">
      {{ render_field(form.image_url) }}

    </div>

    {{ render_field(form.submit) }}
  </form>
  </div>


{% endblock %}