{% extends 'components/base.html' %}

{% block title %}
Edit Profile
{% endblock %}

{% block content %}
{{ super() }}
  <div class="container mt-5" style="max-width: 600px;">
    <h2 class="mb-4 text-center">Edit Profile Of : {{ current_user.username }} </h2>
    <form method="post" action="{{ url_for('user.update_profile') }}">
      {{ form.csrf_token }}
                {% from 'macros/_formhelpers.html' import render_field %}

      <div class="mb-3">
        {{ render_field(form.bio, class="form-control") }}
      </div>

      <div class="d-flex justify-content-between">
        <a href="{{ url_for('user.user_profile', user_id=current_user.id) }}" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </div>
    </form>
  </div>
{% endblock %}
