{% extends 'components/base.html' %}

{% block title %}
Post Create
{% endblock %}

{% block content %}
  {{ super() }}

  <h1>Create a New Post</h1>

  <form method="post" action="{{ url_for('create_post', user_id=user_id) }}" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="postTitle" class="form-label">Post Title</label>
      <input type="text" class="form-control" id="postTitle" placeholder="Enter title" name="title">
    </div>

    <div class="mb-3">
      <label for="postDescription" class="form-label">Description</label>
      <textarea class="form-control" id="postDescription" rows="3" placeholder="Write description"
      name="description"></textarea>
    </div>

    <div class="mb-3">
      <label for="postImage" class="form-label">Upload Image</label>
      <input class="form-control" type="file" id="postImage" name="image_url">
    </div>

    <button type="submit" class="btn btn-primary">Create Post</button>
  </form>

{% endblock %}