{% extends 'components/base.html' %}

{% block title %}
Posts
{% endblock %}

{% block content %}
  {{ super() }}


  <h1>Posts</h1>

  <div class="list-group">
    {% for post in posts %}
    <a href="{{ url_for('post_detail', post_id=post.id) }}" class="list-group-item list-group-item-action">
      <h5 class="mb-1">{{ post.title }}</h5>
      <p class="mb-1">{{ post.description }}</p>
      <img src="{{ post.image_url}}" alt="{{ post.title }}" height="300" width="500">
      <small><a href="update-post.html" class="btn btn-sm btn-outline-primary">Edit</a></small>
      <small><a class="btn btn-danger" href="{{ url_for('post_delete', post_id=post.id) }}" role="button">Delete</a></small>

    </a>
    {% endfor %}
  </div>

{% endblock %}
