{% extends 'components/base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
  {{ super() }}

<div class="container w-25" style="margin-top: 100px">
    <h2 class="text-center">Login</h2>
    <form action="{{ url_for('login') }}" method="post" enctype="multipart/form-data">
        {% from 'macros/_formhelpers.html' import render_field, render_a_tag %}

        {{ form.csrf_token }}
        <div class="mb-3">
             {{ render_field(form.email) }}


        </div>
        <div class="mb-3">
            {{ render_field(form.password) }}

        </div>

        {{ form.submit }}
    </form>
    <p class="mt-3 text-center">Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a></p>
</div>
{% endblock %}