{% extends 'components/base.html' %}

{% block title %}
Create Profile
{% endblock %}

{% block content %}
{{ super() }}
  <div class="container mt-5" style="max-width: 600px;">
    <h2 class="mb-4 text-center">Create Your Profile – {{ user.username }}</h2>
    <form method="post" action="{{ url_for('create_profile', user_id=user.id) }}">
      {{ form.csrf_token }}
                {% from 'macros/_formhelpers.html' import render_field %}

      <div class="mb-3">
        {{ render_field(form.bio, class="form-control", placeholder="Enter User Bioo") }}
      </div>

      <div class="d-grid">
        <input type="submit" class="btn btn-primary btn-lg" value="Save">
      </div>
    </form>
  </div>
{% endblock %}